@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .baner-title {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        letter-spacing: 0.12px;
    }

    .benefits-items {
        flex-basis: calc((100% - 24px) / 2);
        
    }

    .list.benefits {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;     
    }

    .list.clients {
        column-gap: 24px;
    }

        .clients-link {
            width: 168px;
        }

         footer .container {
             display: flex;
             align-items: baseline;
             flex-wrap: wrap;
             
             margin-left: 108px;
             margin-right: auto;

             
         }

         .footer-nav {
             width: 264px;
             margin-right: 24px;
             
         }

         .footer-title {
            align-self: flex-start;
         }

         footer .logo {
            display: flex;
            align-self: flex-start;
         }

         .footer-paragraph {
            
         }
    
         .social {
             display: block;
             width: 208px;
             
         }
    
         .form-input {
             opacity: 1;
             width: 264px;
         }
    
         .footer-form {
             display: flex;
             flex-direction: row;
         }
     }   
        



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .body {
        align-self: normal;
    }

    .thumb-benefits {
         display: flex;
        }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
}

 .baner-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500px;
        letter-spacing: 0.04px;
        text-transform: none;
 }

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    text-transform: none;
    letter-spacing: 0.4px;
    text-align: left;
    line-height: 1.2;
}

.benefits p {
    font-weight: 400;
}

 .list.benefits {
    gap: 24px;
 }

 .benefits-items {
     flex-basis: calc((100% - 72px) / 4);

 }

 .section.benefits {
     padding-bottom: 0;
 }

 .team-list {
    flex-wrap: nowrap;
     column-gap: 24px;

 }

 footer .container {
     display: flex;
     align-items: baseline;
 }

 
 .footer-nav {
  width: 264px;
  margin-right: 120px;
}

  .social {
      display: block;
      width: 208px;
      margin-right: 80px;
  }

.form-input {
    opacity: 1;
    width: 264px;
}

.footer-form {
    display: flex;
        flex-direction: row;
}

.logo,
.footer-title {
    align-self: flex-start;
}


 .team-item {
    
 }

 .list.clients {
     
    flex-wrap: nowrap;
 }
 
 .list.clients {
    
    
 }

 .clients-link {
width: 168px;
 }
}



/*@media (max-width: 320px) {
    .list.clients {
        justify-content: center;
    }
}*/



@media (min-width: 1158px) {
    .form-input {
        opacity: 1;
        width: 264px;
    }
}
