
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .baner {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/Dark-bg-mobile-2x-2.jpg);
    }
}



@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

        .form-input {
            width: 264px;
}
.logo {
    margin-right: 249px;

}

.social-list-menu {
    gap: 56px;
    justify-content: flex-start;
}
}


@media screen and (min-width: 768px) {

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .baner {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/Dark-bg-planshet-2x-2.jpg);

        }
    }

    .container {
       max-width: 768px;
      
    }

        .menu-btn {
            display: none;
        }

                .logo {
                    margin-right: 120px;
                   
                }

               
    
    .site-nav-link {
            color: var(--title-text-color);
            font-weight: 500;
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .site-nav-link:hover,
        .site-nav-link:focus {
            color: var(--curent-accent-color);
        }
    
        .site-nav-list,
        .contacts-list {
            gap: 40px;
            display: flex;
        }
    
        .current {
            color: var(--curent-accent-color);
    
    
            position: relative;
        }
    
        .current::after {
            content: '';
            background-color: var(--curent-accent-color);
    
            position: absolute;
            height: 4px;
            bottom: -1px;
            left: 0;
            border-radius: 2px;
            width: 100%;
    
        }
    
        .header-address {
            font-style: normal;
        }
    
        .contacts-list {
            margin-left: auto;
        }
    
        .contacts-item-link {
            padding-top: 24px;
            padding-bottom: 24px;
            color: var(--primary-text-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        .contacts-item-link:hover,
        .contacts-item-link:focus {
            color: var(--curent-accent-color);
        }

                .site-nav,
                .header-address {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
        
                }

    .baner {
        padding-top: 112px;
            padding-bottom: 204px;
        
            min-width: 768px;
           
            height: 436px;
    }

    .baner-title {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        letter-spacing: 0.12px;
        margin-bottom: 36px;
    }

    .benefits-items {
        flex-basis: calc((100% - 24px) / 2);
        
    }

    .list.benefits {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;     
    }

    .list.clients {
        column-gap: 24px;
    }

        .clients-link {
            width: 168px;
        }

         footer .container {
             display: flex;
             align-items: baseline;
             flex-wrap: wrap;
             
             margin-left: 108px;
             margin-right: auto;

             
         }

         .footer-nav {
             width: 264px;
             margin-right: 24px;
             
         }

         .footer-title {
            align-self: flex-start;
         }

         footer .logo {
            display: flex;
            align-self: flex-start;
         }

         .footer-paragraph {
            
         }
    
         .social {
             display: block;
            width: 208px;
             
         }

         .footer-label {
           width: 264px;
         }
    
         .form-input {
             opacity: 1;
             
         }
    
         .footer-form {
             display: flex;
             flex-direction: row;
         }

                 .modal {
                     width: 408px;
                     padding: 72px 24px 24px 24px;
                 }
                 
     }   
        



@media screen and (min-width: 1158px) {

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .baner {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/people-office-2x-2.jpg);
        }
    }

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .body {
        align-self: normal;
    }

         .logo {
             margin-right: 76px;
    
         }

    .baner {
             padding-top: 188px;
             padding-bottom: 292px;
    
             max-width: 1440px;
             height: 600px;
         }

    .thumb-benefits {
         display: flex;
        }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
}

 .baner-title {
    font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        letter-spacing: 0.12px;
        margin-bottom: 48px;
 }

 section.directions {
     display: flex;
 }

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    text-transform: none;
    letter-spacing: 0.4px;
    text-align: left;
    line-height: 1.2;
}

.benefits p {
    font-weight: 400;
}

 .list.benefits {
    gap: 24px;
 }

 .benefits-items {
     flex-basis: calc((100% - 72px) / 4);

 }

 .section.benefits {
     padding-bottom: 0;
 }

 .team-list {
    flex-wrap: nowrap;
     column-gap: 24px;

 }

 footer .container {
     display: flex;
     align-items: baseline;
 }

 
 .footer-nav {
  width: 264px;
  margin-right: 120px;
}

  .social {
      display: block;
      width: 208px;
      margin-right: 80px;
  }

.form-input {
    opacity: 1;
    
}

footer .label {
    width: 264px;
}

.footer-form {
    display: flex;
        flex-direction: row;
}

footer .logo,
.footer-title {
    align-self: flex-start;
}


 .team-item {
    
 }

 .list.clients {
     
    flex-wrap: nowrap;
 }
 
 .list.clients {
    
    
 }

 .clients-link {
width: 168px;
 }

 .modal {
     width: 408px;
    padding: 72px 24px 24px 24px;
    }
}



/*@media (max-width: 320px) {
    .list.clients {
        justify-content: center;
    }
}*/



