:root {
  --primary-text-color: #434455;
  --title-text-color: #2E2F42;
  --main-blue-color: #4D5AE5;
  --curent-accent-color: #404BBF;
  --primary-white-color: #ffffff;
  --secondary-background-color: #F4F4FD;
  --dark-background-color: #2E2F42;
  --footer-address-text-color: #F4F4FD;
  --footer-social-accent-color:#31D0AA;
  --main-border-color: #E7E9FC;
--clients-icon-color: #8e8f99;

}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  
}

/* ---------- Header --------   */

header {
  
border-bottom: 1px solid  var(--main-border-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

header .container {
  display: flex;
  align-items: center;
   
}

.header-nav,
.header-address {
  display: flex;
  align-items: center;
  flex-grow: 1;
  
}

.logo {
  margin-right: 76px;
display: flex;
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  display: block;
    padding-top: 24px;
      padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--curent-accent-color);
}

.site-nav-list,
.contacts-list {
  gap: 40px;
  display: flex;
}

.current {
  color: var(--curent-accent-color);
  
 
  position: relative;
}

.current::after {
  content: '';
  background-color: var(--curent-accent-color);

  position: absolute;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  width: 100%;

}

.header-address {
  font-style: normal;
}

.contacts-list {
  margin-left: auto;
}

.contacts-item-link {
  padding-top: 24px;
    padding-bottom: 24px;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: var(--curent-accent-color);
}

/*  ------- Main content ------------  */

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  display: flex;
  list-style-type: none;
}

/* ----------  Baner ----------   */

.baner-title {
  color: var(--primary-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.baner {
 
  text-align: center;
  padding-top: 188px;
  padding-bottom: 292px;

  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
  url(../images/peopleoffice.jpg);
  background-color: var(--dark-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ----------  Button ----------   */



.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--main-blue-color);
  
  display: flex;
  justify-content: center;
  
  cursor: pointer;
  border: 2px solid var(--main-blue-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
 
  min-width: 169px;
  padding: 16px 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.primary:focus,
.btn.primary:hover {
  background-color: var(--curent-accent-color);
  border-color: var(--main-blue-color);
}

/* ------------- Titles --------   */

.section-title,
.list-title {
  color: var(--title-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}

/* ---------- Images -----------  */

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------- What we are doing ------   */



.list-directions {
  justify-content: space-between;
  gap: 24px;
}

/* ----------- Benefits ------------ */


.list.benefits {
  display: flex;
  gap: 24px;
}

.benefits-items {
  flex-basis: calc((100% - 72px) / 4);
  
}

.thumb-benefits {
  width: 264px;
  height: 112px;
  background-color: var(--secondary-background-color);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.icons-benefits {
  background-position: 50% 50%;
  padding: 0;
}

.benefits-title,
.list-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.4px;
  
}

.section.benefits {
  padding-bottom: 0;
}

/* -------------   Our team ------------ */

.section.team {
  background-color: var(--secondary-background-color);
}

.teams {
  padding-top: 32px;
  padding-bottom: 32px;
 
  background-color: var(--primary-white-color);
}

.list {
  display: flex;

  list-style: none;
}

.team-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  margin-bottom: 8px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    border-top: none;
}

.social-icons-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  
  align-items: center;
  justify-content: center;
  
  fill: var(--secondary-background-color);
  background-color: var(--main-blue-color);

  transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--curent-accent-color);
}

.list.social {
  display: flex;
  width: 232px;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.link {
  text-decoration: none;
}

/*  --------- Our clients costomers ---------*/

.list.clients {
  gap: 24px;
}

.icons-clients {
  fill: currentColor;
}

.clients-link {
  width: 168px;
  height: 88px;
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clients-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--curent-accent-color);
  border-color: var(--curent-accent-color);
}

/*  --------------------------------- Portfolio page ------------------ */


.section.portfolio {
padding-top: 100px;
}

.btn.secondary {
  cursor: pointer;
  color: var(--main-blue-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  
  border-radius: 4px;
  border: 1px solid var(--main-border-color);

  min-width: 69px;
    padding: 12px 24px;
    
    align-items: center;
    margin-bottom: 72px;

    transition-property: color, background-color, border-color, box-shadow;
      transition-duration: 250ms, 250ms, 250ms, 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}



.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--curent-accent-color);
  border-color: var(--curent-accent-color);
   color: var(--primary-white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.btn-list {
  display: flex;
  gap:24px;
  justify-content: center;

  margin-bottom: 0;
}

.works-overlay-thumb {
  position: relative;
  overflow: hidden;
}

.works-link:hover .works-item-overlay {
  transform: translateY(0%);
}

.works-link:focus .works-item-overlay {
  transform: translateY(0%);
}

.works-item-overlay {
  color: var(--footer-address-text-color);
  background-color: var(--main-blue-color);
  padding: 40px 32px;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.variaty {
  color: var(--primary-text-color);
}

.work-list .variaty {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.works-item {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: none;
  
}

.works-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  padding: 32px 16px;
  border: 1px solid var(--main-border-color);
    border-top: none;
}


.list-title {
  margin-bottom: 8px;
}

.work-list .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: none;
}

/* ----------  footer ----------  */

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-background-color);
}

footer .container {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  width: 264px;
  margin-right: 120px;
  
}

footer .logo {
  display: block;
  margin-bottom: 18px;
  margin-right: 0;
}

footer .logo,
.footer-paragraph {
  color: var(--footer-address-text-color);
}

footer .social-icons {
  display: flex;
  align-items: center;
}

.social {
  display: block;
  width: 208px;
  margin-right: 80px;
}

.icons-footer {
  fill: var(--footer-address-text-color)
}

footer .social-icons-link {
  background-color: var(--main-blue-color);
}

footer .social-links.list {
  display: flex;
  gap: 16px;
  

  transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer .social-icons-link:hover,
footer .social-icons-link:focus {
  background-color: var(--footer-social-accent-color);
}

.footer-title {
  color: var(--primary-white-color);
  font-weight: 500;
  
  margin-bottom: 16px;
}

/*-------- form ------*/

.footer-form-container {
  display: block;
}

.footer-form {
  display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.form-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
font-family: inherit;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
  color: var(--primary-white-color);
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 0.48px;
  
}

.form-input:hover,
.form-input:focus {
border-color: var(--main-blue-color);
}


.form-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
display: inline-flex;
align-self: flex-end;
min-width: 165px;

padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
    background-color: var(--main-blue-color);
    color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
background-color: var(--curent-accent-color);
}

.icons-frame {
  fill: var(--primary-white-color);
  margin-left: 16px;
}

/* ----------  modal ----------  */

.backdrop {
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.40);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 408px;
  min-height: 584px;
  
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close-button {
  display: flex;
  fill: var(--title-text-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--main-border-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    
}

.modal-close-button:hover,
.modal-close-button:focus {
  border: none;
  background-color: var(--curent-accent-color);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-icon,
.modal-close-button:focus .modal-icon {
  fill: var(--primary-white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*--- modal form---*/

.modal-title {
  margin-bottom: 16px;
  color: var(--title-text-color);
    text-align: center;
    font-weight: 500;
}

.input-container {
  margin-bottom: 8px;
  
}

.modal-label {
  display: block;
 
  font-family: inherit;
  margin-bottom: 4px;
  font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--clients-icon-color);
}

.modal-input {
  width: 100%;
    height: 40px;
    padding: 8px 8px 8px 38px;
    flex-shrink: 0;
    border-radius: 4px;
      border: 1px solid rgba(46, 47, 66, 0.40);
      background-color: transparent;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
  border-color: var(--main-blue-color);
  
}

.input-icon-container {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus + .modal-form-icon {
  fill: var(--main-blue-color);
}

.textarea-container {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-textarea:focus {
  border-color: var(--main-blue-color);
}

.modal-textarea::placeholder {
  font-family: inherit;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.40);
}

.label-checkbox {
  
  display: block;
  
    font-family: inherit;
   
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--clients-icon-color);
}

.modal-checkbox {
  margin-right: 8px;
}

.checkbox-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-checkbox:checked + .label-checkbox > .checkbox-span {
  background-color: var(--curent-accent-color);
  border: none;
  fill: var(--footer-address-text-color);
}

.checkmark-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
 
}

.privacy-policy {
  color: var(--main-blue-color);
}

.modal-form-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
    display: block;
    cursor: pointer;
  min-width: 169px;
  height: 56px;
    padding: 16px 32px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--main-blue-color);
    color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--curent-accent-color);
}
